.primary {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--pale-orange);
  color: var(--white);
}

.secondary {
  border-radius: 100px;
  border: solid 1px var(--pale-orange);
  color: var(--pale-orange);
}

.third {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #5f6dff;
  color: var(--white);
  font-weight: 600;
}

.fourth {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #ff5f6d;
  color: var(--white);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--white);
  color: var(--pale-orange);
  border: 1px solid currentColor;
  &:hover{
    opacity: 1;
  }
}
